<div class="item_found">
    <img width="90" height="90" src="<%= thumbnail %>" class="img-rounded" />
    <h6 title="<%= title %>"><%= (title.length > 20) ? title.substring(0,20) + '...' : title  %></h6>
    <a href="javascript:;" data-video-link="<%= link %>" class="btn btn-mini add_video_btn"><i class="icon-plus"></i> add to list</a>
    <a href="<%= link %>" class="btn btn-mini"><i class="icon-facetime-video"></i> watch in youtube</a>
</div>